{% extends 'base.html' %}

{% block content %}

    <h1>Please Login</h1>

    <p>Access to this system is limited to authorized persons only.</p>

    {% if form.errors %}
        <p><em>Your username and password didn't match. Please try again.</em></p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>

{% endblock %}
