
{% extends "espbase.html" %}

{% block sidebar %}
<p><p>
<table cellpadding="1" border="1" >
    <tr><td><a href="{% url 'ESP.esp.views.index' %}">ESP Home</a></td></tr>
    <tr><td><a href="{{SITEROOT}}/esp/help/overview/">Overview</a></td></tr>
</table>
{% endblock %}

{% block content %}

<h2>Welcome to the ESP Help Page</h2><p>

{% if object %}
{{ object.helpTopic }}
{{ object.helpText }}
{% else %}
Choose a topic from the navigation table on the left
{% endif %}
{% endblock %}

