{% extends "espbase.html" %}


{% block content %}

<h2><a href="javascript:history.go(-1)">Go Back</a></h2>

{% if lx %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table cellspacing="10" cellpadding="3" border="1">
<tr><td colspan = "2" align = "center" bgcolor="#800000"><span style="font-size: larger; color: lightyellow; ">Lab Record Detail Page</span></td></tr>
 <tr class="{% cycle row1,row2 as rowcolors %}">
 <th width="30%">Patient Internal ID</th><td>{{lx.LxPatient.DemogPatient_Identifier }}</td></tr>
 
 <tr class="{% cycle rowcolors %}">
 <th width="30%">MRN</th><td>{{lx.LxPatient.DemogMedical_Record_Number}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Order ID</th><td>{{lx.LxOrder_Id_Num}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Test CPT</th><td>{{lx.LxTest_Code_CPT}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Order Date</th><td>{{lx.LxOrderDate}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Result Date</th><td>{{lx.LxDate_of_result}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Component Name</th><td>{{lx.LxComponentName}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Test Result</th><td>{{lx.LxTest_results}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Normal Range</th><td>{{ lx.LxReference_Low}}  -  {{ lx.LxReference_High}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <th width="30%">Comment</th><td>{{lx.LxComment}}</td></tr>

</table>

{% else %}
    <p>No Labrecord available.</p>
{% endif %}
{% endblock %}
