{% extends "espbase.html" %}

{% load esplib %}

{% block content %}

<table border="0" width="100%">
<tr>
<td></td>
<td align=right>
<form   method="post" enctype="multipart/form-data">

<table cellspacing="10" cellpadding="3" border="1" width="60%">
<tr><td colspan = "8" align = "center" bgcolor="lightyellow"><span style="font-size: larger; color: #800000; "><b>Search Matched Patients</b></span></td></tr>
 <tr class="{% cycle row1,row2 as rowcolors %}">
 <th>DPH file to upload:</th>
<th></th>
 </tr>

 <tr class="{% cycle rowcolors %}">
 <td>
 <input type=file name="upfile">
 </td>
 
 <td valign="middle"><input type="submit" name="submit" value="Upload the File" ></td>
 </tr>

 </table>
</form>
</td></tr>
</table>

<br>
<br>
<div style="text-align: center;">
<form action="{{SITEROOT}}/cases/match/download/" method="post">
<input type="submit" name="submit" value="Download to Excel" >
<input type="hidden" name="filedata" value="{{  filedata }}">

</form>
</div>




{% if filedata %}
<br>
<table border=1 cellspacing = "2" cellpadding = "3">
<tr>
  <th> Index </th>
  <th> DPH LastName</th>
  <th> DPH FirstName</th>
  <th> DPH Gender</th>
  <th> DPH DOB</th>
  <th> DPH Status</th>
  <th> DPH Date</th>
  <th> # MatchedDemogs</th>  
  <th> ESP LastName</th>
  <th> ESP FirstName</th>
  <th> ESP Gender</th>
  <th> ESP DOB</th>
</tr>

    {% for demog in filedata %}
     <tr class="{% cycle row1,row2 %}">
       <td ><b>{{demog.9}}</b></td>
       <td ><b>{{demog.0}}</b></td>
       <td><b>{{demog.1}}</b></td>
       <td><b>{{demog.2}}</b></td>
       <td><b>{{demog.3}}</b></td>
       <td><b>{{demog.7}}</b></td>
       <td><b>{{demog.8}}</b></td>
       <td><b>{{demog.4}}</b></td>

       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>

      {% for oned in demog.5%}
        <tr>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
	   <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>

	   <td><span style="color: blue; ">{{oned.0}}</span></td>
           <td><span style="color: blue; ">{{oned.1}}</span></td>
	   <td><span style="color: blue; ">{{oned.2}}</span></td>
	   <td><span style="color: blue; ">{{oned.3}}</span></td>
	 </tr>   
      {% endfor %}


      {% for oned in demog.6%}
        <tr>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
	   <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>{{oned.0}}</td>
           <td>{{oned.1}}</td>
           <td>{{oned.2}}</td>
           <td>{{oned.3}}</td>
         </tr>
       {% endfor %}

    {% endfor %}
    </table>
{% else %}
     <p>
      <h1>No matched patient to show</h1>
     </p>
     <br><br>
     <table cellspacing="10" cellpadding="3" border="1" width="70%">
     <tr><td colspan = "8" align = "center" bgcolor="lightyellow"><span style="color: #800000; "><b>The DPH file should be a tab-delimited text file with following format</b></span></td></tr>
     <tr class="{% cycle row1,row2 as rowcolors %}">
     <td><b>Patient FirstName</b></td>
     <td><b>Patient LastName</b></td>
     <td><b>Patient Gender</b></td>
     <td><b>Patient DOB</b></td>
     <td><b>DPH Status</b></td>
     <td><b>DPH  Date</b></td>

     </tr>
     <tr class="{% cycle row1,row2 %}">
     <td>Patient1</td>
     <td>Patient1</td>
     <td>M</td>
     <td>19801023</td>
     <td>Status1</td>
     <td>20080105</td>

     </tr>
     <tr class="{% cycle row1,row2 %}">
     <td>Patient2</td>
     <td>Patient2</td>
     <td>F</td>
     <td>19750924</td>
     <td>Status2</td>
     <td>20080103</td>

     </tr>
     <tr class="{% cycle row1,row2 %}">
     <td colspan="6">...</td>
     </tr>

     </table>

</div>
{% endif %}
{% endblock%}
