{% extends "espbase.html" %}

{% load esplib %}

{% block content %}
<h2><a href="javascript:history.go(-1)">Go Back</a></h2>

<div style="text-align: center;">
<h2><span style="color: #800000; ">preLoad Rule Exclusion List</span></h2>
</div>
<br>


{% if msg %}
     <br><br>
     <div style="text-align: center;">
     <h3><span style="color: blue; "> {{msg}}</span></h3>
      </div>
{% endif %}

{% if not msg %}

<table border="0" width="100%">
<tr>
<td></td>
<td align=right>
<form   method="post" >

<table cellspacing="10" cellpadding="3" border="1" width="60%">
<tr><td colspan = "8" align = "center" bgcolor="lightyellow"><span style="font-size: larger; color: #800000; "><b>Search Conditions</b></span></td>
</tr>

 <tr class="{% cycle row1,row2 as rowcolors %}">
 <td valign="middle"><input type="submit" name="submit" value="Show Exclusion List for the condition" ></td>

 <td>
<SELECT name="RULE">
   {% for thisr in rules %}
      {%isselectedrule%}{{preloadrule}},{{thisr.id}}{%endisselectedrule%}
       {% if selectedrule %}<OPTION value="{{thisr.id}}" SELECTED>{{thisr.ruleName}}</OPTION>
       {% else %} <OPTION value="{{thisr.id}}">{{thisr.ruleName}}</OPTION>{% endif %}

    {% endfor %}

  </SELECT >
</form>
 </td>
</tr>


 </table>
</td></tr>
</table>

<br>

{% if msg %}
     <br><br>
     <div style="text-align: center;">
     <h3><span style="color: blue; "> {{msg}}</span></h3>
      </div>
{% endif %}

{% if exclusions %}
<div style="text-align: center;">
<form action="{{SITEROOT}}/preload/rulexclud/2/" method="post">
<input type="submit" name="submit" value="Copy the Following Exclusion List to the condition" >
<input type="hidden" name="FROMRULE" value="{{preloadrule}}">
&nbsp;&nbsp;
<SELECT name="TORULE">
   {% for thisr in rules %}
       <OPTION value="{{thisr.id}}">{{thisr.ruleName}}</OPTION>
    {% endfor %}
  </SELECT >
</form>
</div>
{% endif %}

<br><br>
<form action="{{SITEROOT}}/preload/rulexclud/1/" method="post">
<div style="text-align: center;">
<input type="submit" name="submit" value="Save into DB" >
<input type="hidden" name="RULE" value="{{preloadrule}}">
</div>
<br>


<br>
<table border=1 cellspacing = "2" cellpadding = "3">
<tr class="{% cycle row1,row2 as rowcolors %}">
  <th> &nbsp;</th>
  <th> CPT</th>
  <th> Component</th>
</tr>

{% for oneex in exclusions %}
  <tr class="{% cycle row1,row2 %}">
    <td width="10%">{{ oneex.0 }}
    <td width="30%"> <input type="text" name="CPT_{{ oneex.0 }}" size="15" value={{ oneex.1.0 }}> </td>
    <td width="30%"> <input type="text" name="CMPT_{{ oneex.0 }}" size="15" value={{ oneex.1.1}}> </td>

  </tr>
{% endfor %}
{% for i in newrec %}
     <tr  class="{% cycle rowcolors %}">
      <td width="10%"> Add New</td>
      <td width="30%"> <input type="text" name="CPT_NEW{{ i }}" size="15" > </td>
      <td width="30%"> <input type="text" name="CMPT_NEW{{i}}" size="15" > </td>
      </tr>

{% endfor %}


</table>
<br>
<div style="text-align: center;">
<input type="submit" name="submit" value="Save into DB" >
</div>

</form>
{% endif %}
</div>

{% endblock%}
